.Box{
    position: absolute;
    border: .1rem solid white;
    width: 3rem;
    height: 3rem;
    z-index: 1000;
    transform:translate(-50%,-50%);
    background-color: rgba(255, 255, 255, 0.266);
    cursor:crosshair;
}
